p{
    color: rgb(238, 73, 216);
    text-indent: 200px;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: cadetblue;
    text-transform: uppercase;
}

h2{
    text-align: center;
    color: black;
    text-shadow: 10px 10px 8px rgb(218, 30, 30);  

    /* Font Properties */
    font-family: monospace;
    font-size: 60px;
    font-weight: lighter;
    font-display: oblique;
    font-variant: small-caps;

}
/* Background Properties*/

section{
    height: 100vh;
    width: 100%;
    /*background-color: blanchedalmond; */
    background-image: url(./images.jfif);
    /*background: radial-gradient(rgb(237, 162, 22),white,rgb(95, 237, 95));*/
    background-size: cover;
    background-position: center;
    background-blend-mode: hard-light;
    opacity: 1.4;

}

div{
    height: 400px;
    width: 400px;
    background:linear-gradient(rgb(239, 147, 216),purple);
    border-style: double ;
    margin-top: 150px;
    margin-left: 100px;
    padding-top: 100px;
    padding-left: 100px;



}



